:root {
    --primary-color: rgb(98, 152, 223);
    --secondary-color: rgb(0, 62, 101);
    --accent1-color: rgb(70, 159, 154);
    --accent2-color: rgb(0, 0, 0);
    --accent3-color: rgb(255, 255, 255);
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    max-width: 100%;
    font-family: "Inter", serif;
    font-style: normal;
    overflow-x: hidden;
    background: var(--secondary-color);
}


/*----------- HEADER --------------*/

header {
    background: var(--accent3-color);
    display: grid;
    align-items: center;
    box-shadow: 0 0 20px rgba(12, 22, 21, 0.4);
    position: fixed;  /* Fix header position */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Make sure it stays above content */
    padding: 0;
}

.image-logo img {
    width: 6rem;
    margin: 1em 8em 1em 2em;
}




/*----------- NAVIGATION --------------*/

nav {
    background-color: var(--secondary-color);
    font-size: 1rem;
}

nav ul {
    list-style-type: none; /* Remove default list styling */
    justify-content: center; /* Center nav items */
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--accent2-color);
    font-weight: 500;
    margin: 0 1rem; /* Margin between links */
    padding: 1.4rem 1rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; /* Transition effects */
}

nav a:hover {
    color: var(--primary-color); /* Change text color on hover */
}

nav a.active-menu-link {
    text-decoration: underline; /* Underline for active link */
    text-underline-offset: 5px; /* Offset for underline */
    text-decoration-thickness: 1px; /* Thickness for underline */
}


.nav-btn {
    font-weight: 600;
    border: 1px solid var(--primary-color);
    padding: .6em 1em;
    margin: 1em 0;
    color: var(--accent1-color);
    background-color: var(--primary-color);
}







/*----------- HAMBURGER MENU --------------*/

#menubutton {
    font-size: 2rem;
    background: none;
    cursor: pointer;
    font-family: "Montserrat";
    width: 100%;
    text-align: right;
    font-weight: 300;
    border: 0;
    color: var(--accent2-color); /* Color for hamburger button */
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: .25rem 2vw;
}

#menubutton::before {
    content: "\2630"; /* Hamburger icon */
}

#menubutton.open::before {
    content: "X"; /* Close icon when open */
    font-weight: 600;
    font-family: "Montserrat";
}

@media (max-width: 999px) {
    nav ul {
        display: none; /* Hide nav items on mobile */
    }

    nav.open ul {
        display: flex; /* Show nav items when nav is open */
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items */
        width: 100%; /* Full width */
    }

    #menubutton {
        display: block; /* Show hamburger button */
    }
}

@media (min-width: 999px) {
    #menubutton {
        display: none; /* Hide hamburger button on larger screens */
    }
}




/*----------- HERO SECTION FOR MOBILE --------------*/

.hero {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    padding: 20px
}

.hero-text {
    max-width: 90%;
    margin-bottom: 20px;
}

.hero-image {
    max-width: 80%;
    height: auto;
    margin-top: 5em;
}

.hero-text {
    max-width: 100%;
    text-align: left;
    margin: 2em;
}

h1 {
    font-size: 2.4rem;
    font-weight: 900;
    margin: 1em 0;
    color: var(--accent2-color);
}

p {
    font-size: .9rem;
    line-height: 1.6;
    margin-bottom: 30px;
    color: var(--accent2-color);
}

.hero-btn {
    display: inline-block;
    padding: 1em 3em;
    background-color: var(--primary-color);
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    margin: 0 auto 4em 0;
}







/*----------- FOOTER --------------*/

.footer {
    background: linear-gradient(to bottom, rgb(0, 62, 101), rgb(0, 29, 46));
    color: var(--accent3-color);
    padding: 40px 0 0;
}

.footer-logo img {
    width: 6rem;
}

.footer-container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 70%;
}


.footer-section {
    margin: 0 40px 0 80px;
}

.footer-section h4 {
    font-size: .8rem;
    margin-bottom: 2em;
    letter-spacing: .1rem;
    font-weight: 500;
}

.footer-section ul {
    list-style: none;
    padding: 0 0 20px;
}

.footer-section ul li {
    margin-bottom: 1em;
    font-size: .8rem;
}

.footer-section ul li a {
    color: #ccc;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: white;
    text-decoration: underline;
}

.social-links {
    display: flex;
    gap: 2em;
    padding: 0;
    list-style: none;
}

.social-links li {
    display: inline-block; /* Align social links horizontally */
}

.social-links li a {
    font-size: 1.4rem;
    color: #ccc;
    transition: color 0.3s;
}

.social-links li a:hover {
    color: var(--primary-color);
}

.footer-separator {
    width: 100%;
    border: 0;
    border-top: 1px solid rgb(98, 152, 223);
    margin: 0 0 10px;
}

.footer-bottom {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10em;
    width: 55%;
    margin-top: 0;
    font-size: .8rem;
    color: #989898;
    letter-spacing: 1px;
}

.footer-bottom p {
    margin: 0;
}

.footer-logo img {
    max-width: 150px;
    margin: 2em 0;
}

.highlight {
    margin: 0 auto;
    font-weight: 600;
    font-size: .8rem;
    color: #989898;
}

footer p {
    width: 100%;
    justify-content: center;
    color: #898989;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-section {
        flex-basis: 100%;
    }
    
    .footer-bottom {
        flex-direction: column;
        text-align: center;
        gap: 1em;
    }

    .footer-bottom p {
        margin: 0 0 10px;
    }
}