:root {
    --primary-color: rgb(98, 152, 223);
    --secondary-color: rgb(0, 62, 101);
    --accent1-color: rgb(70, 159, 154);
    --accent2-color: rgb(0, 0, 0);
    --accent3-color: rgb(255, 255, 255);
}


@media (min-width: 1000px) {



    html, body {
        max-width: 100%;
        font-family: "Inter", serif;
        font-style: normal;
        overflow-x: hidden;
        background: var(--accent3-color);
    }


    .nav-links {
        display: flex;
        align-items: center;
    }


    header {
        display: flex;
        align-items: center;
        justify-content: space-around;
        color: white;
        box-shadow: 0 0 20px rgba(12, 22, 21, 0.3);
        width: 100%;
        position: fixed;  /* Fix header position */
        top: 0;
        left: 0;
        z-index: 1000;
    }



    /*----------- NAVIGATION --------------*/




nav {
    background-color: var(--accent3-color);
    font-size: 1rem; /* Font size for navigation */
    
}

nav ul {
    display: flex; /* Horizontal layout for nav items */
}



nav a.active-menu-link {
    text-decoration: underline; /* Underline for active link */
    text-underline-offset: 5px; /* Offset for underline */
    text-decoration-thickness: 1px; /* Thickness for underline */
}

  
  /* Navigation Links */
  
  .navigation-links a {
    list-style-type: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    color: var(--secondary-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Hover Effects */
  .navigation-links a:hover {
    color: var(--primary-color);
  }


  .navigation-links .nav-btn {
    font-weight: 600;
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    padding: .6em 1em;
    margin: .6em 0;
    color: var(--primary-color);
    background-color: transparent;
}


.navigation-links .nav-btn:hover {
    background-color: var(--primary-color);
    color: var(--accent3-color);
}



  /*----------- MAIN --------------*/



/*----------- HERO SECTION FOR LARGE SCREENS --------------*/


.hero-container {
    width: 100%;
    margin: 4em auto 4em auto;
    max-width: 1440px;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5em 10em;
    
    color: #333;
}

.hero-text {
    max-width: 50%;
    text-align: left;
}

.hero-btn {
    display: inline-block;
    padding: .8em 3em;
    background-color: var(--accent1-color);
    color: var(--accent3-color);
    text-decoration: none;
    border-radius: 40px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: box-shadow 0.3s ease;
}

.hero-btn:hover {
    box-shadow: 2px 4px 10px rgb(0, 0, 0, 0.4);
    color: var(--accent3-color);
}

/* @keyframes wobble {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(1deg) translate(2px, -2px);
    }
    50% {
        transform: rotate(-3deg) translate(-3px, 3px);
    }
    75% {
        transform: rotate(2deg) translate(1px, -1px);
    }
    100% {
        transform: rotate(0deg) translate(0, 0);
    }
} */

.hero-image {
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    margin: 0 5em 0 0;
    z-index: 999;
    /* animation: wobble 3s ease-in-out infinite alternate; */
}


.hero {
    position: relative; /* Allows absolutely positioned children to stay within this section */
}

.ball-element {
    background: linear-gradient(to right, rgb(70, 159, 154), rgb(39, 96, 94));
    width: 600px;
    height: 400px;
    border-radius: 200px 0 0 200px;
    position: absolute; /* Position within the hero section only */
    top: 350px; /* Center vertically within the hero section */
    right: 0; /* Align to the right edge of the hero section */
    transform: translateY(-50%);
}




h1 {
    font-size: 4rem;
    font-weight: 900;
    margin: .2em 0;
    color: var(--secondary-color);
    line-height: 1.2; /* Ensure consistent line height */
}





.animated-text {
    display: inline-block;
    border-right: 2px solid black; /* Optional blinking cursor */
    padding-left: 5px;
    overflow: hidden;
    white-space: nowrap;
    line-height: inherit; /* Match line height of h1 */
    vertical-align: text-bottom; /* Align with "Unique" */
    z-index: 9999;
}



/* BEST SELLERS SECTION */


.best {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap into a new line */
    justify-content: space-between; /* Distribute space between items */
    padding: 2em 12em;
    color: var(--secondary-color);
}

.best-title-container {
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center the title */
    width: 100%; /* Full width */
    margin: 0; /* Reset margin */
}

.product-card {
    background-color: white; /* Background color for card */
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    padding: 0; /* Remove padding to allow image to fill */
    margin: 1em; /* Margin between cards */
    width: calc(50% - 6em); /* Adjust width for two columns */
    text-align: center; /* Center align text */
    overflow: hidden; /* Prevent overflow */
    height: 800px;
}

.image-container {
    height: 50%; /* Adjust the height to fill the top half of the card */
    overflow: hidden; /* Hide overflow */
    position: relative; /* Positioning context for the image */
}

.product-image {
    width: 100%; /* Make the image fill the container */
    height: 100%; /* Make the image fill the container */
    object-fit: cover; /* Ensure the image covers the container */
    transition: transform 0.4s ease-in-out; /* Smooth zoom effect */
    cursor: pointer;
}

.product-card:hover .product-image {
    transform: scale(1.05); /* Zoom in effect on hover */
}

h3 {
    margin: 1em 0 0; /* Margin adjustments to create space below image */
}



.size-select {
    margin: .5em 2em;
}


.color-select {
    margin: .5em 2em;
}

.color-select label, .size-select label {
    color: black;
    margin: 0 0 1em 0;
}

#color-black-female,
#color-black-male {
    margin: 0 5px; /* Space between color buttons */
    padding: 1em 1em;
    border: none; /* No border */
    border-radius: 999999px;
    background-color: var(--accent2-color); /* Use your accent color */
    color: white; /* Button text color */
    cursor: pointer;
}

#color-white-female,
#color-white-male {
    margin: 0 5px; /* Space between color buttons */
    padding: 1em 1em;
    border: 1px solid black;
    border-radius: 999999px;
    background-color: var(--accent1-color);
    color: white;
    cursor: pointer;
}

.price {
    font-size: 1.5rem; /* Price font size */
    font-weight: bold; /* Price bold */
    margin: 1em 0; /* Space around price */
}

.shop-now-button {
    background-color: var(--secondary-color); /* Use your accent color */
    color: white; /* Button text color */
    padding: 0.75em 1.5em; /* Button padding */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    transition: color 0.3s; /* Smooth transition */
}

.shop-now-button:hover {
    background-color: var(--secondary-color);
    color: black;
}

h2.best-title {
    font-size: 3rem;
    font-weight: 800;
    color: var(--accent2-color);
    text-align: center; /* Center text */
}







/*----------- TESTIMONIALS CARD --------------*/


.testimonial-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.testimonial {
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: flex-start;
}
.testimonial img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}
.testimonial h2 {
    margin: 1em 0;
    font-size: 1rem;
}
.testimonial h3 {
    margin: .5em 0;
    font-size: 1.2rem;
}
.testimonial p {
    margin: 5px 0;
    font-size: 16px;
}



/* FAQ SECTION */


h2 {
    margin: 1em 0;
}


.faq-section {
    max-width: 800px;
    margin: 4em auto;
    padding: 2em;
  }
  
  .faq-container {
    border-top: 2px solid #ddd;
  }
  
  .faq {
    border-bottom: 2px solid #ddd;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1em;
    background-color: var(--accent1-color);
  }
  
  .faq-question h3 {
    margin: .5em 0;
    font-size: 1.2rem;
  }
  
  .faq-toggle {
    font-size: 1.5rem;
    transition: transform 0.3s;
  }
  
  .faq-answer {
    display: none;
    padding: 1em;
    background-color: var(--accent1-color);
    font-size: 1em;
    color: var(--accent1-color);
  }
  
  .faq-active .faq-answer {
    display: block;
  }
  
  .faq-active .faq-toggle {
    transform: rotate(45deg);
  }



 /* ------------ MODAL STYLE ---------- */



.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Input styles */
input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Full width */
    padding: 10px; /* Spacing inside the input */
    margin: 10px 0; /* Spacing around inputs */
    border: 1px solid #ccc; /* Border */
    border-radius: 4px; /* Rounded corners */
}

label {
    margin-top: 10px;
    display: block; /* Display label above input */
}


  


/*----------- FORM --------------*/


.form-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 2em auto;
    border: 1px solid var(--primary-color);
    color: var(--accent2-color);
    padding: 2em 4em;
    border-radius: 45px;
    background-color: rgb(0, 90, 240);
    box-shadow: none;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.form-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}


.designOne {
    margin: 1em auto;
}
  
  form {
      margin: 1rem auto;
  }
    
      label {
        display: block;
        font-size: .8rem;
        color: var(--accent1-color);
        padding-top: .2rem;
      }

      h3 {
        font-size: 1.2rem;
        color: var(--accent2-color);
        margin: 1.5rem 0 .2rem 0;
      }
    
      input[type=text],
      input[type=tel],
      input[type=date],
      input[type=email],
      textarea[name=description],
      select {
        display: block;
        margin: .1rem 0 1rem 0 ;
        padding: .3rem;
        border: 1px solid #999;
        border-radius: 4px;
        border-left-width: 5px;
        border-left-color:#555;
        font-size: 1rem;
        color: #3D405B;
        width: 350px;
      }
    
      input:required {border-left-color: #ec6060;}
      input:focus {border-left-color: rgb(23, 53, 53); outline:none;}
      input:required:valid{border-left-color: rgb(0, 90, 240);}
    
      input[type=submit] {
        border: none;
        text-align: center;
        background-color: var(--accent2-color);
        color: var(--accent1-color);
        padding: .75rem 1.5rem;
        margin: 2rem 0;
        font-size: 1.2rem;
        -webkit-appearance: none;
        appearance: none;
      }

      input[type=submit]:hover {
        background-color: var(--accent1-color);
        color: rgb(0, 90, 240);
        cursor: pointer;
      }



    input:-webkit-autofill {
      -webkit-text-fill-color: #999;
    }
    
    #results {
      background-color: #F4F1DE;
      padding: 2em 4em;
      border: 1px solid rgb(0, 90, 240);
      border-radius: 6px;
      width: 800px;
      margin: 0 auto 2em auto;
    }

    .application-submitted {
        grid-column: 1 / 2;
        text-align: center;
        margin: 4em 0 1em 0;
    }

    .application-title {
        text-align: center;
        font-size: 1.6rem;
        margin: 2em auto 1em auto;
        color: rgb(0, 90, 240);
    }

    

/* JOIN layout */



.join-title {
    grid-column: 1 / 2;
    text-align: center;
    margin: 4em 0 1em 0;
    font-size: 3rem;
}

.join-layout h2 {
    text-align: center;
    margin-bottom: 0;
    color: var(--accent1-color);
    font-size: 1.6rem;
}

.form-container {
    grid-column: 1 / 2; /* Form takes the left side */
    margin-bottom: 2em;
}



}